@charset "UTF-8";
#searchAsc{
	/*display: none;*/
}
/*.button {*/
/*    display: inline-block;*/
/*    background-color: #a19999;*/
/*    color: #000000;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*    transition: opacity 0.2s ease;!*property duration timing-function*!*/
/*}*/
/*.button.keyword {*/
/*    width: 100%;  !* 요소의 너비 *!*/
/*    height: 100%; !* 요소의 높이 *!*/
/*    padding: 0px 20px; !* 내부 여백 *!*/
/*    border: 1.920px solid #000000; !* 테두리 *!*/
/*    margin: 1.920px; !* 외부 여백 *!*/
/*}*/

/*.button:hover {*/
/*    opacity: 0.8;*/
/*}*/

.clickableSpan{
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

@keyframes flashAnimation{
    0% {background-color : #ffff99;}
    100%{background-color : transparent;}
}

.flash-effect{
    animation: flashAnimation 0.5s ease-out;
    animation-fill-mode:forwards;/*애니메이션이 끝난 후에도 유지*/
}

/* 드롭다운 메뉴 스타일 */
.ui-helper-hidden-accessible{
    display:none;
}
/*ul.ui-autocomplete>li.ui-menu-item>div.ui-menu-item-wrapper.ui-state-active {*/
/*    background-color: wheat !important; !* 활성 상태 시 배경색 변경 *!*/
/*}*/
/*ul.ui-autocomplete li.ui-menu-item div.ui-menu-item-wrapper.ui-state-active:hover {*/
/*    background-color: wheat; !* 호버 시 원하는 배경색으로 변경 *!*/
/*}*/
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.custom-ui-autocomplete.ui-front>li.ui-menu-item>div.ui-menu-item-wrapper{

}
input[name="searchKeyword"].ct_input_g.ui-autocomplete-input:active{
    border-radius: 0px;
}
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.custom-ui-autocomplete.ui-front>li.ui-menu-item>div.ui-menu-item-wrapper:hover{
    background: #a19999 !important;
}
