button.grow_skew_backward{
    line-height: 0px;
    text-align: center;
    font-size: 1.4em;
    width: 5em;
    height: 2em;
    color: #fff;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #28a4c9;
}
button.grow_skew_backward:hover {
    color: #3498db;
}
button.grow_skew_backward::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    transition: 0.35s;
}
button.grow_skew_backward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
}
button.grow_skew_backward:hover::after {
    transform: skewX(45deg) scale(1.4, 1);
}